.team__members {
    /* background-image: url('path/to/your/cover-picture.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: brown;
}
