<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li> 
                    <li><a href="#">Contact Us</a></li> 
                    <li><a href="#">Terms & Conditions</a></li> 
                    <li><a href="#">Privacy Policy</a></li> 
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Connect With Us</h3>
                <ul>
                    <li><a href="#">Facebook</a></li> 
                    <li><a href="#">Twitter</a></li> 
                    <li><a href="#">Instagram</a></li> 
                    <li><a href="#">LinkedIn</a></li> 
                    <li><a href="#">YouTube</a></li> 
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Subscribe</h3>
                <p>Subscribe to our newsletter to get the latest updates to your inbox. ;)</p>
                <form action="">
                    <input type="email" name="email" id="email" placeholder="Enter your email address">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="footer-bottom">
            <div class="col-md-12">
                <p>&copy; 2024 CyberSecurity Kampala. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>