
<!-- Header -->
<header id="header">
  <div class="inner">
    <div class="logo">
      <img src="assets\images\CyberSecurityKampalaLogo.png">
    </div>
    <nav id="nav">
      <a mat-button routerLink="/about">ABOUT US</a>
       <a mat-button routerLink="/projects">PROJECTS/TOOLS</a>
       <a mat-button routerLink="/community">COMMUNITY</a>
       <a mat-button routerLink="/training">TRAINING</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
