<div class="toolbar-container">
  <mat-toolbar color="primary">
  <div class="logo">
     <!-- <h1><span style="font-weight: bold;">CYBER SECURITY </span> KAMPALA</h1> -->
     <img src="/assets/images/logo.jpeg">
  </div>
   
  <div class="nav-links">
     <a mat-button routerLink="/angular">ABOUT US</a>
     <a mat-button routerLink="/docs">CONTACT</a>
     <a mat-button routerLink="/community">SERVICES</a>
     <a mat-button routerLink="/blog">PROJECTS/TOOLS</a>
     <a mat-button routerLink="/blog">LEARN</a>
     <a mat-button routerLink="/blog">COMMUNITY</a>
     <a mat-button routerLink="/blog">TRAINING</a>
  </div>
   
  <!-- <mat-icon>search</mat-icon> -->
 </mat-toolbar>
 <hr>
</div>
 