<!-- <div class="toolbar-container">
   <mat-toolbar color="primary">
     <div class="logo">
       <img src="/assets/images/logo.jpeg" alt="Logo" class="logo-img">
      
     </div>
     <div class="nav-links">
       <a mat-button routerLink="/angular">ABOUT US</a>
       <a mat-button routerLink="/docs">CONTACT</a>
       <a mat-button routerLink="/community">SERVICES</a>
       <a mat-button routerLink="/blog">PROJECTS/TOOLS</a>
       <a mat-button routerLink="/blog">LEARN</a>
       <a mat-button routerLink="/blog">COMMUNITY</a>
       <a mat-button routerLink="/blog">TRAINING</a>
     </div>
   </mat-toolbar>
   <hr>
 </div>
  -->

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="index.html" class="logo">introspect</a>
    <nav id="nav">
      <a href="index.html">Home</a>
      <a href="generic.html">Generic</a>
      <a href="elements.html">Elements</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
