<!-- Three -->
<section id="three">
  <div class="inner">
    <article>
      <div class="content">
        <span class="icon fa-laptop"></span>
        <header><h3>VISION</h3></header>
        <p>
          Our vision is to lead in cybersecurity and data management globally.
          We aim to provide innovative solutions that protect and empower
          businesses. We strive to create a secure digital environment
          prioritizing data integrity, privacy, and accessibility. We envision a
          world where all organizations can protect their digital assets and use
          data to drive success.
        </p>
        <ul class="actions">
          <li><a routerLink="/about" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
    <article>
      <div class="content">
        <span class="icon fa-diamond"></span>
        <header><h3>MISSION</h3></header>
        <p>
          Our mission is to safeguard the digital landscape with advanced
          cybersecurity solutions and comprehensive data services. We strive to
          empower businesses, enhance security, transform data into insights,
          foster a culture of security awareness, and continuously innovate for
          effective, up-to-date client solutions, ensuring their overall
          success.

          FOR A SECURE DIGITAL FUTURE
        </p>
        <ul class="actions">
          <li><a routerLink="/about" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
    <article>
      <div class="content">
        <span class="icon fa-laptop"></span>
        <header><h3>AIMS</h3></header>

        <p>
          Our aims are to provide top-notch cybersecurity solutions, offer
          comprehensive data management services, stay at the forefront of the
          cybersecurity field, raise awareness about the importance of
          cybersecurity, foster a community of cybersecurity professionals, and
          advocate for ethical data practices and digital privacy. Together we
          can
        </p>
        <ul class="actions">
          <li><a routerLink="/about" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
