<div class="three-columns">
  <div class="column" id="column1">
    <h4>-01</h4>
    <h3>Evaluate</h3>
    <p>
      Little Blind Text, that where it came from <br />
      from it would hae been rewritten
    </p>
    <a href="https://example.com/page3">
      <button style="background-color: #555555; height: 50px; width: 100px">
        Learn More
      </button>
    </a>
  </div>
  <div class="column" id="column2">
    <h4>-02</h4>
    <h3>Remediate</h3>
    <p>
      Little Blind Text, that where it came from <br />
      from it would hae been rewritten
    </p>
    <a href="https://example.com/page3">
      <button style="background-color: #555555; height: 50px; width: 100px">
        Learn More
      </button>
    </a>
  </div>
  <div class="column" id="column3">
    <h4>-03</h4>
    <h3>Audit</h3>
    <p>
      Little Blind Text, that where it came from <br />
      from it would hae been rewritten <br />
      a thousand times and everything
    </p>
    <a href="https://example.com/page3">
      <button style="background-color: #555555; height: 50px; width: 100px">
        Learn More
      </button>
    </a>
  </div>
</div>
