
    <!-- Three -->
    <section id="three">
      <div class="inner">
        <article>
          <div class="content">
            <span class="icon fa-laptop"></span>
            <header><h3>Tempus Feugiat</h3></header>
            <p>
              Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia,
              magna lorem ullamcorper laoreet, lectus arcu.
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
        </article>
        <article>
          <div class="content">
            <span class="icon fa-diamond"></span>
            <header><h3>Aliquam Nulla</h3></header>
            <p>
              Ut convallis, sem sit amet interdum consectetuer, odio augue
              aliquam leo, nec dapibus tortor nibh sed.
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
        </article>
        <article>
          <div class="content">
            <span class="icon fa-laptop"></span>
            <header><h3>Sed Magna</h3></header>
            <p>
              Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a
              diam sit amet mi ullamcorper vehicula.
            </p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </div>
        </article>
      </div>
    </section>