<div class="landing-page">
  <!-- Your content here -->

  <div class="label">
    <!-- <h3>-WHO WE ARE</h3> -->
    <!-- <h1>EMPOWERING SECURITY:</h1>
    <h1>SAFE GUARDING THE DIGITAL</h1>
    <h1>REALM</h1>
    <h1>WITH VIGILANCE AND</h1>
    <h1>INNOVATION</h1> -->

    <div class="word-slider">
      <span *ngIf="currentIndex ===   0" class="emphasized-text">{{ words[0] }}</span>
      <span *ngIf="currentIndex ===   1" class="emphasized-text">{{ words[1] }}</span>
      <span *ngIf="currentIndex ===   2" class="emphasized-text">{{ words[2] }}</span>
      <!-- Add more spans if you have more phrases -->
    </div>
    
    

    <br />
    <div class="search-bar">
      <p style="font-weight: bold;">GET STARTED HERE</p>
      <div class="email-container">
        <input class="email-input" type="email" placeholder="Enter email">
        <button class="email-button">Send</button>
       </div>
       
    </div>
  </div>
</div>
