<!-- <div class="landing-page">


  <div class="label">


    <div class="word-slider">
      <span *ngIf="currentIndex ===   0" class="emphasized-text">{{ words[0] }}</span>
      <span *ngIf="currentIndex ===   1" class="emphasized-text">{{ words[1] }}</span>
      <span *ngIf="currentIndex ===   2" class="emphasized-text">{{ words[2] }}</span>

    </div>
    
    

    <br />
    <div class="search-bar">
      <p style="font-weight: bold;">GET STARTED HERE</p>
      <div class="email-container">
        <input class="email-input" type="email" placeholder="Enter email">
        <button class="email-button">Send</button>
       </div>
       
    </div>
  </div>
</div> -->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>
      -WHO WE ARE;
      <span>
        <div class="word-slider">
          <span *ngIf="currentIndex === 0" class="emphasized-text">{{ words[0] }}</span>
          <span *ngIf="currentIndex === 1" class="emphasized-text">{{ words[1] }}</span>
          <span *ngIf="currentIndex === 2" class="emphasized-text">{{ words[2] }}</span>
        </div>
      </span>
    </h1>
    <ul class="actions">
      <li><a href="#" class="button alt">Get Started</a></li>
    </ul>
  </div>
</section>
